body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color:rgb(63, 137, 62);
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.integrante {
    margin-bottom: 10px;
}

footer {
    background-color: rgb(63, 137, 62);
    color: white;
    text-align: center;
    padding: 10px;
}
.barra-navegacion {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}

.barra-navegacion a {
    text-decoration: none;
    margin: 0 15px;
    color: black;
    font-weight: bold;
}

.barra-navegacion a:hover {
    color: #0077cc;
}